<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        body {
            background-color: azure;
            padding: 25px;
            font-family: 'Titillium Web'
        }

        button {
            padding: 5px;
            background-color: rgb(165, 236, 236);
            border-radius: 4px;
        }
        .highlight {
            color:rgb(243, 243, 247);
            background-color: rgb(2, 41, 63);
        }
    </style>
    <script>
        // function imageShow(){
        //     document.getElementById('plot').style.display = "block";       
        // }
        function showPlot() {
            var x = document.getElementById("plot");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function showWordcloud() {
            var x = document.getElementById("wordcloud");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>

<body>

    <a href="{{url_for('return_to_results') }}">
        <button>Back to results</button></a>
    <button id="btn" onclick="showPlot()">Show theme plot</button>
    <img id="plot" src="{{ url_for('static', filename=idx+'_plt.png') }}" style="display:none; margin: auto;"/>
    <button onclick="showWordcloud()">Show theme cloud</button>
    <img id="wordcloud" src="{{ url_for('static', filename=idx+'_wordcloud.png') }}" style="display:none; margin: auto;"/>
    <h2>{{ name }}</h2>
    <p>Query: <span class="highlight">{{ query }}</span></p>
    <p>Number of matches: <b>{{ num_matches }}</b></p>
    <p>
    {% for word in content.split() %}
        {% if engine == "boolean" %}
            {% if word.lower() in query.split() and word.lower() != "and" and  word.lower() != "or" and word.lower() != "not"%}
                <b class="highlight">{{ word }}</b>
            {% else %}
                {{ word }}
            {% endif %}
        {% elif engine == "relevance" %}
            {% if '"' in query %}
                {% if query.strip('""') == word %}
                    <b class="highlight"> {{ word }} </b>
                {% else %}
                    {{ word }}
                {% endif %}
            {% else %}
                {% if query == word.lower() or query in word.lower() %}
                    <b class="highlight"> {{ word }} </b>
                {% else %}
                    {{ word }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </p>
</body>

</html>